<div class= "container">
  <div class="jumbotron jumbotron-fluid" id = "jumbotron">
    <div class="container">
      <h1 class="display-3" ><i class = "glyphicon glyphicon-fire"></i><b> Burger Town<b></h1>
      <hr>
      <h3 class="lead">Add and remove Burgers</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" id = "colLeft">
      <br>
      <h2><i class = "glyphicon glyphicon-exclamation-sign"></i><b> Uneaten Burgers!<b></h2>
      <hr>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.burger_name}} 
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="1">
                <button type="submit">Devour it!</button>
              </form>
              {{> burgers/delete-burger}}
              <br>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
      <br>
    </div>
    <div class = "col-md-4" id = "colTop">
      <br><br><br>
      <img class = "burger" src = "assets/img/burger.png" alt = "burger">
    </div>
    <div class="col-md-4" id = "colRight">
      <br>
      <h2><i class = "glyphicon glyphicon-ok-circle"></i><b> Eaten Burgers!<b></h2>
      <hr>
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}
              <br>
              {{> burgers/delete-burger}}
              <br>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      <br>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-12" id = "colBottom">
      <br>
      <h2><b>Add a Burger <b><i class = "glyphicon glyphicon-cutlery"></i></h2>
      <hr>
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input type="text" id="burger" name="name">
          <input type="hidden" name="devoured" value="0">
        </div>
        <button type="submit">Add Burger</button>
        <br><br>
      </form>
    </div>
  </div> 
</div>